<div class="meeting-details-container">
  <h3>{{ 'meetingDetails.title' | translate }}</h3>
  <p>{{ 'meetingDetails.committeeName' | translate }} {{ getCommitteeName(meeting.committeeId) }}</p>
  <p>{{ 'meetingDetails.meetingNumber' | translate }} {{ meeting.meetingNumber }}</p>
  <p>{{ 'meetingDetails.venue' | translate }} {{ getVenue(meeting.venueId) }}</p>
  <p>{{ 'meetingDetails.startDateTime' | translate }} {{ meeting?.startDateTime }}</p>
  <p>{{ 'meetingDetails.endDateTime' | translate }} {{ meeting?.endDateTime }}</p>

  <button class="first-edit-button" (click)="editMeeting()">{{ 'meetingDetails.editButton' | translate }}</button>
  <h3 class="agenda-items-title">{{ 'meetingDetails.agendaItems' | translate }}</h3>
  <table>
    <thead>
    <tr>
      <th>{{ 'meetingDetails.number' | translate }}</th>
      <th>{{ 'meetingDetails.name' | translate }}</th>
      <th>{{ 'meetingDetails.decision' | translate }}</th>
      <th>{{ 'meetingDetails.committeeMembersVotings' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let agendaItem of meeting.agendaItemList">
      <td>{{ agendaItem.number }}</td>
      <td>{{ agendaItem.name }}</td>
      <td>{{ agendaItem.decision }}</td>
      <td> <!-- New column -->
        <ul>
          <li *ngFor="let voting of agendaItem.votingSet">
            {{ getMemberName(voting.memberId) }} - {{ getVoteName(voting.voteId) }}
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>

  <button class="edit-button" (click)="editMeeting()">{{ 'meetingDetails.editButton' | translate }}</button>
</div>
