.main {
  width: 100%;
  padding: 10px; /* Adjust as needed */
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.header {
  width: 100%;
  padding: 20px;
  color: rgb(40, 45, 62);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.button-container {
  display: flex;
}

.button-primary,
.button-secondary {
  background-color: rgb(185, 150, 110);
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  margin-bottom: 0;
  cursor: pointer;
  border-radius: 5px;
}

.option {
  background-color: rgb(185, 150, 110);
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  margin-bottom: 0;
  cursor: pointer;
}

.member-list {
  width: 100%;
  padding: 20px;
}

.filters {
  display: flex;
  align-items: center;
}

.filters label {
  margin-right: 10px;
}

.filters input,
.filters select {
  margin-right: 10px;
}

.filter-buttons {
  margin-left: auto;
  color: white;
  border: none;
  margin-bottom: 10px;
}

button:hover {
  background-color: rgb(170, 130, 90);;
}

.sort-by {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: whitesmoke;
}

.table th,
.table td {
  border: 1px solid lightgrey;
  padding: 8px
}

.table th {
  background-color: dimgray;
}

.add-member {
  width: 50%;
  margin-top: 60px;
  margin-left: 30px;
}

.add-member form {
  display: flex;
  flex-wrap: wrap;
}

.add-member label {
  margin-right: 10px;
}

.add-member input,
.add-member select {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

.add-member .button-primary {
  margin-top: 10px;
}

.filter-buttons {
  margin-left: 20px;
}

.status-message {
  margin-top: 10px;
}
