.header-container {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent
}

.logo img {
  height: 30px;
}

.language {
  right: 30px;
  position: fixed;
}

