.member-container {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.member-container h2 {
  margin-bottom: 20px;
}

.member-container p {
  margin-bottom: 10px;
}

.member-container input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.member-container input[type="checkbox"] {
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.member-container button {
  background-color: rgb(185, 150, 110);;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.member-container button:hover {
  background-color: rgb(170, 130, 90);;
}

.update-status {
  margin-top: 10px;
}
