.container {
  padding: 20px;
}

.back-button,
.edit-button,
.submit-button {
  background-color: rgb(185, 150, 110);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.history-button {
  background-color: rgb(185, 150, 110);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}


.history-button:hover,
.back-button:hover,
.edit-button:hover,
.submit-button:hover {
  background-color: rgba(185, 150, 110, 0.8);
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.committee-list {
  list-style-type: none;
  padding-left: 0;
}

.committee-list a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(40, 45, 62);
}

.committee-list a:hover {
  text-decoration: none;
  font-weight: bold;
  color: rgb(60, 67, 85);
}

.committee-item {
  margin-bottom: 20px;
}

.member-item {
  margin-left: 20px;
}

.chair {
  color:rgb(40, 45, 62);
  font-weight: bold;
}

label, input, .submit-button {
  margin-bottom: 20px;
}

form {
  width: 70%;
}
form input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

