<div>
  <label for="committeeId">Committee:</label>
  <select id="committeeId" [(ngModel)]="committeeId" class="form-control">
    <option value="">Select Committee</option>
    <option *ngFor="let committee of committees" [value]="committee.id">{{ committee.shortName }}</option>
  </select>
</div>
<div>
  <label for="startDate">Start Date:</label>
  <input type="date" id="startDate" [(ngModel)]="startDate" class="form-control">
</div>

<div>
  <label for="endDate">End Date:</label>
  <input type="date" id="endDate" [(ngModel)]="endDate" class="form-control">
</div>

<div>
  <label for="searchTerm">Search:</label>
  <input type="text" id="searchTerm" [(ngModel)]="searchTerm" class="form-control">
  <button (click)="filterAgendaItems()">Apply</button>
</div>
<table id="agendaItemsTable" *ngIf="agendaItems && agendaItems.length > 0" class="table">
  <thead>
  <tr>
    <th>Meeting Number</th>
    <th>Meeting Date</th>
    <th>Agenda Item Number</th>
    <th>Agenda Item</th>
    <th>Decision</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of getPaginatedItems()">
    <td>{{ getMeetingNumber(item) }}</td>
    <td>{{ getMeetingDate(item) }}</td>
    <td>{{item.number }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.decision }}</td>
  </tr>
  </tbody>
</table>

<div *ngIf="agendaItems && agendaItems.length > itemsPerPage">
  <button *ngFor="let pageNumber of getPageNumbers()" (click)="onPageChange(pageNumber)">{{ pageNumber }}</button>
</div>

<button (click)="downloadExcel()">Download Excel</button>

